body {
    font-family: Arial, sans-serif;
    background-color: #2f70a8;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #a15792;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

input[type="text"], textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b7b36e;
    border-radius: 4px;
}

textarea {
    height: 1000px;
}

button {
    padding: 10px;
    border: none;
    background-color: #333;
    color: rgb(113, 73, 108);
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

.comments {
    margin-top: 40px;
}

.comment {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}
